<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Code Blog</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
      <header id="head-bar"> <h1 class="techie-title">Techie Talk: a blog for Techies</h1>
       
        <nav class="navbar mt-2">
            {{#if loggedIn}}
            <a href="/" class="navbar-item is-hoverable pt-1">Homepage</a>
            <a href="/dashboard" class="navbar-item is-hoverable pt-1">Dashboard</a>
            <a href="/dashboard/create/" class="navbar-item is-hoverable pt-1 mr-4">Create Post</a>
            <button id="logout" class="button-is-danger">Logout</button>
            {{else}}
            <a href="/" class=" is-hoverable pt-1">Homepage</a>
            <a href="/login" class="button-is-danger">Login</a>
            {{/if}}
        </nav>
    </header>
    <main class="main-temp">
      {{{ body }}}
    </main>
    
    <footer class="footer rows pb-2">
        <div class="row-is-full content has-text-centered">
            <p>
            <a href="/" class="button-is-danger">homepage</a>{{#if loggedIn}} | 
            <a href="/dashboard/" class="button-is-danger">dashboard</a> | 
            <a href="/dashboard/create/" class="button-is-danger">create new post</a>
            {{else}}
             | <a href="/login" class="button-is-danger" >login</a>
            {{/if}}
            </p>
        </div>
      <div class="row-is-full content has-text-centered">
    <p>
      <strong class="button-is-danger">Technically Speaking</strong> by <a href="https://github.com/bspur11/code-blog.git" class="button-is-danger">Brad Spurrell</a> 
      {{!-- <a href="hhttps://github.com/bspur11/code-blog.git"><i class="fab fa-github"></i></a> |   --}}
       {{!-- <a href="bradspurrell99@gmail.com"><i class="far fa-envelope"></i></a> --}}
    </p>
  </div>
    </footer>
  </div>
  
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>

{{!-- | made with <a> | source code: --}}